name: Code Tests
on: [push, pull_request]
jobs:
  Tests:
    runs-on: ubuntu-latest
    container:
      image: ubuntu:24.04
    steps:
      - name: Update System Packages
        run: |
          apt update && apt install git python3 python3-pip -y
        shell: bash
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install pip Packages
        working-directory: ./
        run: |
          python3 -m pip install -r requirements.txt --break-system-packages
      - name: Output Matching Test
        working-directory: ./
        run: |
          bash -ex tests/output_matching.sh